.post{
    height: max-content;
    margin: 1em;
}

.post-header {
    display: flex;
}

.post-category {
    flex: 9;
    margin-bottom: 5px;
    color: #004bd6;
    font-weight: bold;
    user-select: none;
}

.post-title {
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    overflow-wrap: break-word;
}

.post-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    user-select: none;
}

.post-date {
    display: block;
    color: #aaa;
    font-size: 0.8em;
    margin-bottom: 20px;
    user-select: none;
}

.post-text {
    display: block;
    width: 100%;
    font-size: 1em;
    max-height: 7.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    text-align: justify;
    margin-bottom: 10px;
}

.post-text.expanded {
    max-height: none;
    overflow: visible;
}

/* Add ellipsis */
.post-text:is(.full)::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding-left: 5px;
}

/* Remove ellipsis when expanded */
.post-text.expanded::after {
    content: "";
}

/* READ MORE CONTAINER */
.read-more-container button {
    box-shadow: black 0 0 2px 1px;
}

/* BUTTONS */
.post-buttons {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}


.post:hover #deletePost,
.post:hover #editPost {
    visibility: visible;
}

.post:not(:hover) #deletePost,
.post:not(:hover) #editPost {
    visibility: hidden;
}
