#posts-parent {
    margin-top: 3em;
}

.post-header {
    display: flex;
}

.post-category {
    flex: 9;

    color: #1F21A9;
    font-weight: bold;
}

.post-title {
    font-weight: bolder;
    font-size: 1.5em;

    display: block;
    width: 100%;
    overflow-wrap: break-word;
}

.post-image {
    background-size: cover;
    background-position: center;

    aspect-ratio: 1;
    width: 50px;
    /*width: 100%;*/ /* COMMENTED FOR TESTING */
}

.post-date {
    display: block;
    color: #aaa;
}

.post-text {
    display: block;
    width: 100%;

    max-height: 5em; /* Show max 5 lines */
    font-size: 1em;

    /* Cut off when limit reached */
    text-overflow: ellipsis;
    overflow: hidden;
}